*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100vw;
}
.Currentcontainer{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: aliceblue;
}
.right{
    display: flex;
    flex-direction: column;
}
button{
    width: 150px;
    padding: 7px;
}
input{
    padding: 7px;
    margin-bottom: 20px;
}
h2{
    margin-bottom: 20px;
}
.btn{
    border: 0px;
    background-color: white;
}